.language-search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.width-language-select {
  width: 40%;
}

.output-container {
  display: flex;
  color: black;
}

@media (max-width: 600px) {
  .language-search-container {
    flex-direction: column;
    gap: 30px;
  }

  .width-language-select{
    width: 70%;
  }
}